/** @format */

@white: #ffffff;
@dark: #000000;

// base color
@base-red: #ff1744;
@base-blue: #2979ff;
@base-green: #00e676;
@base-yellow: #ffea00;

// 灰色
@gary-0: #fefefe;
@gary-1: #fafafa;
@gary-2: #f5f5f5;
@gary-3: #eeeeee;
@gary-4: #e0e0e0;
@gary-5: #bdbdbd;

// 字体大小
@fs-0: 17px;
@fs-1: 16px;
@fs-2: 15px;
@fs-3: 14px;
@fs-4: 13px;
@fs-5: 12px;

// 字体颜色
@fc-0: @white;
@fc-1: #abc;
@fc-2: #789;
@fc-3: #456;
@fc-4: #123;
@fc-5: @dark;

// 背景色
@background-color: @white;
@background-color-light: @gary-1;

// hairline
@hairline-color: @gary-3;

// tabs
@tabs-base-color: @base-red;
@tabs-background-color: @background-color;
@tabs-indicator-color: @tabs-base-color;
@tabs-nav-card-tab-color: @fc-5;
@tabs-nav-card-tab-active-color: @fc-0;
@tabs-nav-card-border-color: @tabs-base-color;
@tabs-nav-background-color: @background-color;
@tabs-nav-card-active-background-color: @tabs-base-color;

// tab
@tab-color: @fc-4;
@tab-active-color: @fc-5;
@tab-text-color: @fc-4;
@tab-disable-color: @fc-2;

// loading
@loading-color: @base-red;
@loading-point-background-color: @dark;

// calendar
@calendar-req-fail-background-color: @base-red;
