@import "../sty/var.less";
.x-loading {
	display: flex;
	justify-content: center;
	align-items: center;
	&__icon {
		&--circle {
			display: block;
			width: 15px;
			height: 15px;
			border-width: 2px;
			border-top-color: @loading-color;
			border-right-color: @loading-color;
			border-bottom-color: @loading-color;
			border-left-color: transparent;
			border-style: solid;
			border-radius: 50%;
			z-index: 10;
			animation-name: ever;
			animation-duration: 300ms;
			animation-iteration-count: infinite;
			animation-timing-function: linear;

			@keyframes ever {
				100% {
					transform: rotateZ(360deg);
				}
			}
		}

		&--point {
			display: flex;
			align-items: center;
			justify-content: space-evenly;

			> i {
				width: 4px;
				height: 4px;
				border-radius: 50%;
				animation-name: tb;
				animation-duration: 2s;
				animation-timing-function: linear;
				animation-iteration-count: infinite;

				@keyframes tb {
					0% {
						opacity: 0.5;
					}
					10% {
						opacity: 1;
						transform: translateY(-8px);
					}

					50% {
						transform: translateY(0px);
					}
					100% {
						transform: translateY(0px);
					}
				}
			}
		}
	}
}
