@import '../sty/var';
.x-tab {
  text-align: center;
  color: @tab-color;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &--active {
    color: @tab-active-color;
  }
  &--disable {
    cursor: no-drop;
  }
  &__text {
    font-size: @tab-text-color;
  }
  &__panel {
    width: 100%;
    padding: 10px;
  }
  &__panel-wrapper {
    width: 100%;
    flex-shrink: 0;
    &--inactive {
      height: 0;
      overflow: visible;
    }
  }
}
