/** @format */

.rich-layout {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &__header {
        z-index: 10;
    }
    &__content {
        flex: 1;
        overflow: hidden;
        overflow-y: auto;
        touch-action: pan-y;
        -webkit-overflow-scrolling: touch;
    }
    &__footer {
        height: 0px;
        z-index: 10;
        > * {
            margin-top: -50px;
        }
    }
}
